<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div>
        <ul>
        {% for sport in sports %}
            <li>
                <a href="{{ path('sport_show', {'id': sport.id}) }}">{{ sport.libelle }}</a><br>
                <ul>
                    {% for club in sport.clubs %}
                        <li>
                            <a href="{{ path('club_show', {'id': club.id}) }}">{{ club.nom }}</a><br>
                            <ul>
                                {% for joueur in club.joueurs %}
                                    <li>
                                        <a href="{{ path('joueur_show', {'id': joueur.id}) }}">{{ joueur.prenom }} {{ joueur.nom | upper }}</a><br>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li> <br>
        {% endfor %}
        </ul>
    </div>
</body>
</html>