<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div>
        <a href="{{ path('home') }}">HOME</a><br>
        <br>
        <br>
        {{ club.nom }} <br>
        Sport: <a href="{{ path('sport_show', {'id': club.sport.id}) }}">{{ club.sport.libelle }} <br>
        <br>
        {% for joueur in club.joueurs %}
            <a href="{{ path('joueur_show', {'id': joueur.id}) }}">{{ joueur.nom }} {{ joueur.prenom }}</a> <br>
        {% endfor %}
        
    </div>
</body>
</html>