<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div>
        <a href="{{ path('home') }}">HOME</a><br>
        <br>
        <br>
        {{ joueur.nom }} {{ joueur.prenom }} <br>
        <br>
        Club: <a href="{{ path('club_show', {'id': joueur.club.id}) }}">{{ joueur.club.nom }}</a> <br>
        Sport: <a href="{{ path('sport_show', {'id': joueur.club.sport.id}) }}">{{ joueur.club.sport.libelle }}</a>
        
    </div>
</body>
</html>